{% extends "base.html" %}
{% load jetpack_extras %}

{% block head %}
	<link rel="stylesheet" href="/media/jetpack/css/UI.Browser.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/jetpack/css/UI.Landing_Page.css" type="text/css" media="screen" />
	<script src="/media/jetpack/js/FlightDeck.Browser.js"></script>
{% endblock %}

{% block app_menu %}{% endblock %}

{% block app_sidebar %}{% endblock %}

{% block app_content %}

	<div id="features-wrapper">
		<div class="UI_middleWrapper">
			<div class="UI_Feature_Copy">
                <h3>The Fastest Way to Build Add-ons</h3>

                <p>Add-on Builder makes it easy to write, build and test Firefox extensions<br>
                using common web technologies.</p>

                <div class="left_column">
                    <div class="fd_button">
						<a id="create_addon" title="" href="{% url tutorial %}"><span>How to Get Started</span></a>
                    </div>
                </div>
                <div class="right_column">
                    <div class="fd_button">
                        <a title="" href="{% url jp_addon_create %}"><span>Create an Add-on Now </span></a>
                    </div>
                  </div>
                {% comment %}
                <div class="right_column">
                    <div class="fd_dropdown">
                        <div class="left">
                            <a title="" href="{% url jp_addon_create %}"><span>Create an Add-on Now </span></a>
                        </div>
                        <div class="right">
                            <ul>
                                <li class="first"><a href="#">&darr;</a>
                                <ul>
                                    <li class="first"><a href="{% url jp_library_create %}">Create a Library</a></li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                  </div>
                  {% endcomment %}
            </div>
            <div class="UI_Feature_Side">
                <h3>Learn</h3>
                <ul>
                    <li><a href="/docs">API Documentation</a></li>
                    <li><a href="/docs/packages/addon-kit/addon-kit.html">Add-on Kit - High-level APIs</a></li>
                    <li><a href="/docs/packages/api-utils/api-utils.html">API Utilities - Low-level SDK code</a></li>
                </ul>
                <h3 class="second">Explore</h3>
                <ul>
                    <li><a href="{% url jp_browser_addons %}">Public Add-ons</a></li>
                    <li><a href="{% url jp_browser_libraries %}">Third-Party Libraries</a></li>
                </ul>
			</div>
        </div>
    </div>
	<div class="UI_middleWrapper">

		<div id="libs-and-extensions">

			<div class="UI_LE_Col">
				{% if addons %}
					<h2 class="UI_Heading">Browse Add-ons</h2>

					<ul class="UI_Browser">
						{% for item in addons %}
							<li class="UI_Item">{% include "_package_browser_addon.html" %}</li>
						{% endfor %}
					</ul> <!-- /UI_Browser -->

					<ul class="UI_SeeMore">
						<li><a title="Browse More Add-ons" href="{% url jp_browser_addons %}">Browse More Add-ons</a></li>
					</ul> <!-- /UI_SeeMore -->
				{% endif %}
			</div> <!-- /UI_LE_Col -->

			<div class="UI_LE_Col libraries">
				{% if libraries %}
					<h2 class="UI_Heading">Browse Libraries</h2>

					<ul class="UI_Browser">
						{% for item in libraries %}
							<li class="UI_Item">{% include "_package_browser_library.html" %}</li>
						{% endfor %}
					</ul> <!-- /UI_Browser -->

					<ul class="UI_SeeMore">
						<li><a title="Browse More Libraries" href="{% url jp_browser_libraries %}">Browse More Libraries</a></li>
					</ul> <!-- /UI_SeeMore -->
				{% endif %}
			</div> <!-- /UI_LE_Col -->

			<div class="UI_LE_Col_Group">
				<div class="UI_LE_Col" id="getSdkTarget">
					<div class="UI_Bottom_Info">
						<h2 class="UI_Heading medium">Get the SDK</h2>

						<p>Prefer the command-line? Want to work locally?</p>

						<ul>
							<li class="UI_Mini_Button"><a id="getSdk" title="Download Add-ons Builder SDK" href="https://ftp.mozilla.org/pub/mozilla.org/labs/jetpack/jetpack-sdk-latest.zip"><span>Download Add-ons Builder SDK</span></a></li>
							<li class="moreInfo"><a title="More Info" href="https://jetpack.mozillalabs.com/sdk/latest/docs/">More Info</a></li>
						</ul>
					</div>
				</div> <!-- /UI_LE_Col -->

				<div class="UI_LE_Col createLibrary">
					<div class="UI_Bottom_Info">
						<h2 class="UI_Heading medium">Create a Library</h2>

						<p>Want to make an API for add-ons to use?</p>

						<ul>
							<li class="UI_Mini_Button grey"><a title="Create Library" href="{% url jp_library_create %}"><span>Create Library</span></a></li>
						</ul>
					</div>
				</div> <!-- /UI_LE_Col -->
			</div> <!-- /UI_LE_Clear -->

		</div> <!-- /libs-and-extensions -->

	</div> <!-- /UI_middleWrapper -->
{% endblock %}
