{% extends 'base.html' %}

{% block title %}Mozilla FlightDeck Site Status{% endblock title %}

{% block app_content %}

<h2 class="UI_Heading" style="padding-top: 3em">Filepaths</h2>
<dl>
{% for path, exists, permissions, extra in filepaths %}
  <dt style="font-weight: bold">{{ path }}</dt>
  <dd style="padding-bottom: 1em">
  {% if exists %}
    Exists...
  {% else %}
    <b style="color: red">Does not exist</b>
  {% endif %}

  {% if permissions %}
    with proper permissions.
  {% else %}
    <b>and does not have the permissions we expect.</b>
  {% endif %}
  {% if extra %}
    ({{ extra }})
  {% endif %}
  </dd>
{% endfor %}
</dl>

<h2 class="UI_Heading" style="padding-top: 3em">Free space</h2>
<ul>
  {% for path, size in free.items %}
  <li>{{ path }}:  {{ size }}kB</li>
  {% endfor %}
</ul>

<h2 class="UI_Heading" style="padding-top: 3em">RabbitMQ</h2>
<p>Tasks are sent to rabbit in a cronjob and results are stored in database.</p>
<ul>
    {% for celery_response in celery_responses %}
    <li>
        <strong>{{ celery_response.kind|title }}</strong> response: 
        {{ celery_response.time }} seconds (checked {{ celery_response.modified_at }})
    </li>
    {% endfor %}
</ul>
<h2 class="UI_Heading" style="padding-top: 3em">ElasticSearch</h2>
{% if es_health %}
<ul>
    {% for key, value in es_health.items %}
    <li><strong>{{key}}:</strong> {{value}}</li>
    {% endfor %}
</ul>
{% else %}
<p>Can't connect to ElasticSearch cluster.</p>
{% endif %}

{% endblock %}
