/*
---
filename: UI.Editor_Area.css
decription: Includes stylesheets for FlightDeck.Editor 
license: MIT-style license.
authors:
 - Oskar Krawczyk (http://nouincolor.com/)
...
*/

#djDebug
{
	display: none !important;
}

div.UI_Editor_Area {
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: auto;
	background: #E5E9EE;
}

	div.ace_gutter
	{
		top: 0px;
		bottom: 0px;
		height: auto !important;
		background: #E5E9EE !important;
	}

		div.ace_gutter div.ace_gutter-layer
		{
			padding: 4px 0;
		}

	div.ace_scroller
	{
		top: 0px;
		bottom: 0px;	
		height: auto !important;
		background: #FFFFFF;
		border-top: 1px solid #777;
		border-left: 1px solid #777;
		-moz-border-radius: 3px 0 0 0;
		-moz-box-shadow: 1px 1px 2px -2px #000 inset;
	}
	
		div.ace_content
		{
			top: 3px;
			padding: 4px !important;
		}

			div.ace_content > div.ace_layer
			{
				top: -1px;
			}
	
	div.ace_editor div.ace_sb
	{
		right: -1px;
		border-top: 1px solid #777;		
	}

#jetpack_core_sdk_version option {
    font-weight: bold;
}
option[disabled] { 
    color: #999; 
}
#jetpack_core_sdk_version option[disabled] { 
    font-weight: normal;
}
