/*
---
filename: UI.Editor_Menu.css
decription: Provides base layout for FlightDeck
license: MIT-style license.
authors:
 - Oskar Krawczyk (http://nouincolor.com/)
...
*/

.UI_Editor_Menu {
	-moz-user-select: -moz-none;
}

.UI_Editor_Menu.minimal {
	width: 235px;
	float: right;
}

.UI_Editor_Menu_Separator {
	float: left;
	width: 11px;
	padding: 1px;
}

.UI_Editor_Menu_Button {
    cursor: pointer;
    position: relative;
	float: left;
}

.UI_Editor_Menu_Button a span {
    display: block;
    position: relative;
}

.UI_Editor_Menu_Button a,
form.UI_Editor_Menu_Descendant {
	float: left;
	position: relative;
	background: -moz-linear-gradient(top, #F4F8FC, #CED4DB);
	-moz-box-shadow: 0 1px 0 #fff inset;
	display: block;
	margin: 1px 0 0;
	padding: 4px 5px;
	border: 1px solid;
	border-color: #bbb #888 #555;
	border-right: none;
	font-size: .9em;
	text-shadow: 0 1px 0 #fff;
}

	.UI_Editor_Menu_Descendant fieldset {
		background: -moz-linear-gradient(270deg, #EBEFF2, #D4D9DF);
		-moz-box-shadow: 0 -1px 0 #fff;
		display: block;
		padding: 0px 7px 7px 7px;
		margin: 1px 0 0;
		font-size: .9em;
		text-shadow: 0 1px 0 #fff;
	}

	/* Starting element */
	.UI_Editor_Menu_Button:first-child a,
	.UI_Section_Open a {
		-moz-border-radius: 3px;
		-moz-border-radius-topright: 0;
		-moz-border-radius-bottomright: 0;
	}

		.UI_Editor_Menu_Button:first-child a span,
		.UI_Section_Open a {
			-moz-border-radius: 2px;
			-moz-border-radius-topright: 0;
			-moz-border-radius-bottomright: 0;
		}

	/* Ending element */
	.UI_Editor_Menu_Button:last-child a,
	.UI_Section_Close a {
		border-right: 1px solid #888;
		-moz-border-radius: 3px;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-bottomleft: 0;
	}

		.UI_Editor_Menu_Button:last-child a span,
		.UI_Section_Close a {
			-moz-border-radius: 2px;
			-moz-border-radius-topleft: 0;
			-moz-border-radius-bottomleft: 0;
		}

	.UI_Editor_Menu_Button a:hover {
		background: -moz-linear-gradient(270deg, #FBFBFB, #E6E8EB);
		text-decoration: none;
	}

	.UI_Editor_Menu_Button a:active,
	.UI_Editor_Menu_Button.pressed a {
		background: -moz-linear-gradient(270deg, #BEC5CC, #D9DDE0);
		-moz-box-shadow: none;
		color: #6D7880;
	}

	.UI_Editor_Menu_Button.UI_Single a {
		-moz-border-radius: 3px;
	}

		.UI_Editor_Menu_Button.UI_Single a span {
			-moz-border-radius: 2px;
		}

		/* Lighten the icon when active */
		.UI_Editor_Menu_Button a:active span {
			opacity: 0.7;
		}

	.UI_Editor_Menu_Button a span {
		display: block;
		height: 17px;
		width: 17px;
		background-image: url(../img/editor-buttons.png);
		background-repeat: no-repeat;
	}

	.UI_Editor_Menu_Button.disabled span,
	.UI_Editor_Menu_Button.disabled-force a span {
		background: -moz-linear-gradient(270deg, #BEC5CC, #D9DDE0);
		color: #6D7880;
		cursor: default;
		-moz-box-shadow: none;
	}

		.UI_Editor_Menu_Button.disabled a span,
		.UI_Editor_Menu_Button.disabled-force a span {
			opacity: 0.7;
		}

	.UI_Editor_Menu_Button.Icon_new_extension a span {
		background: -moz-linear-gradient(270deg, #59A1F2, #1C5AAB);
		background-position: 0 0;
		color: #fff;
		text-shadow: 0 1px 0 #011E4F;
		-moz-box-shadow: 0 -1px 0 #59A1F2;
	}

		.UI_Editor_Menu_Button.Icon_new.Icon_new_extension a span {
			background-position: 0 -17px;
		}

	.UI_Editor_Menu_Button.Icon_new a span {
		background-position: 0 0;
	}

	.UI_Editor_Menu_Button.Icon_saveNewVersion a span,
	.UI_Editor_Menu_Button.Icon_save a span {
		background-position: -17px 0;
	}

	.UI_Editor_Menu_Button.Icon_saveNewVersion a span,
	.UI_Editor_Menu_Button.Icon_save_changes a span {
		background-position: -17px -17px;
	}

	.UI_Editor_Menu_Button.Icon_update a span {
		background-position: -34px 0;
	}

	.UI_Editor_Menu_Button.Icon_setAsBase a span {
		background-position: -51px 0;
	}

	.UI_Editor_Menu_Button.Icon_lock a span {
		background-position: -68px 0;
	}

	.UI_Editor_Menu_Button.Icon_delete a span {
		background-position: -85px 0;
	}

	.UI_Editor_Menu_Button.Icon_delete a span {
		background-position: -85px 0;
	}

	.UI_Editor_Menu_Button.Icon_download a span {
		background-position: -101px 0;
	}

	.UI_Editor_Menu_Button.Icon_try a span {
		background-position: -119px 0;
		width: 20px;
	}

	.UI_Editor_Menu_Button.Icon_revisions a span {
		background-position: -141px 0;
	}

	.UI_Editor_Menu_Button.Icon_copy a span {
		background-position: -161px 0;
	}
	
	.UI_Editor_Menu_Button.Icon_logs a span {
		background-position: -178px 0;
	}
	
	.UI_Editor_Menu_Button.Icon_properties a span {
		background-position: -196px 0;
	}
	
/* SUBMENU */
.UI_Editor_Menu_Parent > .UI_Editor_Menu_Descendant {
    display: none;
    position: absolute;
    margin-left: 0px;
	margin-top: 24px;
	z-index: 9;
	border-right: 1px solid black;
}

.UI_Editor_Menu_Parent:hover > .UI_Editor_Menu_Descendant {
    display: block;
}
.UI_Editor_Menu_Parent .UI_Editor_Menu_Descendant.UI_Forms {
    width: auto;
}

.UI_Editor_Menu .UI_Editor_Menu_Descendant.UI_Forms .UI_Field label,
.UI_Editor_Menu .UI_Editor_Menu_Descendant.UI_Forms .UI_Field input,
.UI_Editor_Menu .UI_Editor_Menu_Descendant.UI_Forms .UI_Field textarea {
	-moz-user-select: text;
     float: none;
     width: 100%;
}
.UI_Editor_Menu_Parent .UI_Editor_Menu_Descendant.UI_Forms .UI_Field {
    padding-top: 5px;
    margin-top: 5px;
}

.UI_Editor_Menu .UI_Editor_Menu_Descendant.UI_Forms textarea {
    min-width: 100% !important;   
    min-height: 120px;
}

.UI_Editor_Menu .UI_Editor_Menu_Descendant.UI_Forms fieldset p{
    margin: 0 12px 0 0 !important;   
}

.UI_Editor_Menu .UI_Editor_Menu_Descendant.UI_Forms {
    min-width: 300px;   
}


.floating-tip {
	background:rgba(0,0,0,.60);
	border-radius:3px;
	color:#fff;
	padding:5px;
	z-index:2000;
}
