/*
---
filename: UI.Editor_Area.css
decription: Includes stylesheets for FlightDeck.Editor 
license: MIT-style license.
authors:
 - Oskar Krawczyk (http://nouincolor.com/)
...
*/

/*
.UI_Editor_Area {
   width: 98%;
   min-height: 600px;
   background: url(../img/shadow.png) 0 0 repeat-x;
   padding: 5px;
}
*/
.UI_Editor_Area {
	height:100%;
	padding:0;
	width:100%;
	/* background: url(/img/shadow.png) 0 0 repeat-x; */
}
.ace_gutter { padding-top: 8px; }
.ace_scroller { margin-top: 8px; }

body { overflow: hidden; }

#jetpack_core_sdk_version option {
    font-weight: bold;
}
option[disabled] { 
    font-weight: normal;
    color: #999; 
}
