/*
---
filename: UI.Modal.css
decription: Provides styles for the modal window
license: MIT-style license.
authors:
 - Oskar Krawczyk (http://nouincolor.com/)
...
*/

/* START TEMP*/
.UI_Modal {
}

.UI_Modal_Wrapper {
}
/* END TEMP*/

.UI_Modal_Wrapper {
	z-index: 100;
	background: rgba(0, 0, 0, 0.25);
	-moz-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 10px;
}

.UI_Modal {
	border-top: none;
	background: #fff;

	-moz-border-radius: 7px;
	-moz-border-radius: 7px;
	/*-moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.6);*/
}

	.UI_Modal h3 {
		background: -moz-linear-gradient(270deg, #59A1F2, #1C5AAB);
		-moz-box-shadow: 0 -1px 0 #9CC7F8;
		border-bottom: solid 1px #022052;
		cursor: move;
		color: #fff;
		text-shadow: 0 1px 0 #011E4F;
		padding: 12px;
		font-size: 1.1em;
		text-align: center;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
	}

	.UI_Modal .UI_Modal_Section {
		padding: 14px;
		min-width: 350px;
        max-height: 350px;
        overflow: auto;

	}
		.UI_Modal .UI_Modal_Section img {
            max-width: 330px;
            max-height: 300px;
            margin: 5px;
		}
	
		.UI_Modal .UI_Modal_Section a {
			color: #478CDE;
		}

		.UI_Modal .UI_Modal_Section p,
		.UI_Modal .UI_Modal_Section .UI_Revisions li {
			padding-bottom: 10px;
			padding-top: 10px; 
			border-bottom: 1px solid #EBEBEB;
		}
		
			.UI_Modal .UI_Modal_Section .UI_Revisions li em.date {
				color: #B2B2B2;
				font-size: .9em;
				display: inline-block;
				width: 90px;
				font-style: normal;
			}
		
		.UI_Modal.boolean-on .UI_Modal_Section .UI_Revisions li:not(.version) {
			display:none;
		}

		.UI_Modal .UI_Modal_Section p:first-child {
			padding-top: 0px;
		}
		
		.UI_Modal .UI_Modal_Section .description {
			padding-top: 10px; 
		}

		.UI_Modal .UI_Modal_Actions {
			border-top: solid 1px #fff;
			padding: 7px 14px;
			background: #E5E9EE;

			-moz-border-radius-bottomleft: 5px;
			-moz-border-radius-bottomright: 5px;
			-moz-box-shadow: 0 -1px 0 #BEC5CC;
		}

		.UI_Modal .UI_Modal_Actions li {
			background: #BEC5CC;
			border-bottom: solid 1px #fff;
			padding: 1px;
			float: right;
			position: relative;
			margin-left: 7px;
			-moz-border-radius: 5px;
		}

		.UI_Modal .UI_Modal_Actions input {
			background: -moz-linear-gradient(270deg, #EBEFF2, #D4D9DF);
			border-top: solid 1px #fff;
			display: block;
			padding: 7px;
			text-shadow: 0 1px 0 #fff;
			color: #4D5860;
			cursor:pointer;

			-moz-border-radius: 4px;
		}

		.UI_Modal .UI_Modal_Actions input.closeModal {
			background: -moz-linear-gradient(270deg, #fee5df, #feccbf);
			border-top: solid 1px transparent;
			color: #b16b59;
        }

            .UI_Modal .UI_Modal_Actions input.closeModal:hover {
                background: -moz-linear-gradient(270deg, #fef9f7, #fef3f0);
            }

            .UI_Modal .UI_Modal_Actions input.closeModal:active {
                background: -moz-linear-gradient(270deg, #fef3f0, #fee5df);
            }

		.UI_Modal .UI_Modal_Actions input.defaultCallback {
			background: -moz-linear-gradient(270deg, #e6febf, #ccfe80);
			border-top: solid 1px transparent;
			color: #4b7c00;
            font-weight: bold;
        }

            .UI_Modal .UI_Modal_Actions input.defaultCallback:hover {
                background: -moz-linear-gradient(270deg, #f9feef, #ccfe80);
            }

            .UI_Modal .UI_Modal_Actions input.defaultCallback:active {
                background: -moz-linear-gradient(270deg, #ccfe80, #e6febf);
                color: #345600;
            }

		.UI_Modal .UI_Modal_Actions input.irreversible {
			background: -moz-linear-gradient(270deg, #ff0600, #880400);
			border-top: solid 1px transparent;
			color: #fff;
            font-weight: bold;
			text-shadow: 0 1px 0 #000;
			text-transform:uppercase;
        }

            .UI_Modal .UI_Modal_Actions input.irreversible:hover {
                background: -moz-linear-gradient(270deg, #ff0700, #bb0400);
            }

            .UI_Modal .UI_Modal_Actions input.irreversible:active {
                background: -moz-linear-gradient(270deg, #cc0400, #770400);
                color:#fff;
            }

        .UI_Modal .UI_Modal_Actions input:hover {
			background: -moz-linear-gradient(270deg, #FBFBFB, #E6E8EB);
			text-decoration: none;
		}

		.UI_Modal .UI_Modal_Actions input:active {
			background: -moz-linear-gradient(270deg, #BEC5CC, #D9DDE0);
			border-top: solid 1px transparent;
			color: #6D7880;
		}
		
		.UI_Modal .UI_Modal_Actions .UI_Boolean_Action {
			float:left;
			margin:0;
			text-shadow:1px 0 1px #fff;
		}
		
			.UI_Modal.boolean-on .UI_Modal_Actions .UI_Boolean_Action {
				background:#555;
				color:#fff;
				text-shadow:1px 0 1px #000;
			}
			
			.UI_Modal .UI_Modal_Actions .UI_Boolean_Action:hover {
				background:#fff;
				color:#4D5860;
				text-shadow:1px 0 1px #fff;
			}
		
			.UI_Modal .UI_Modal_Actions .UI_Boolean_Action label {
				cursor:pointer;
				display:block;
				padding:8px;
			}
			
				.UI_Modal .UI_Modal_Actions .UI_Boolean_Action label input {
					float:left;
					margin:2px 5px;
				}
				
		

		.UI_Modal .UI_Modal_Section input {
			border:1px solid #bbb;
			border-radius:5px;
			display:block;
			height:25px;
			width:100%;
		}
		
			.UI_Modal .UI_Modal_Section input:-moz-placeholder {
				color:#ccc;
				font-style:italic;
			}


#display-package-info .UI_Modal_Section p strong {
	display: inline-block;
	width: 110px;
	font-weight: bold;
}

#display-package-info .UI_Modal_Section p a {
}

.UI_Modal .UI_Modal_Section .radio_btn {
	background:#BEC5CC;
	color:#000;
	display:block;
	float:left;
	font-size:8pt;
	height:25px;
	overflow:hidden;
	margin:0 0 0 -1px;
	padding:1px;
	text-shadow:#fff 1px 0 1px;
}
	.UI_Modal .radio_btn:first-child {
		border-radius:5px 0 0 5px;
	}
	
	.UI_Modal .radio_btn:last-child,
	.UI_Modal .radio_btn + .radio_btn {
		border-radius:0 5px 5px 0;
		margin-right:5px;
	}

	.UI_Modal .radio_btn span {
		background:-moz-linear-gradient(270deg, #EBEFF2, #D4D9DF);
		border-top:1px solid #fff;
		display:block;
		height:24px;
		line-height:23px;
		padding:0 7px;
	}
	
	.UI_Modal .radio_btn:hover {
		text-decoration:none;
	}
	
	.UI_Modal .radio_btn:hover span {
		background:-moz-linear-gradient(270deg, #FBFBFB, #E6E8EB);
	}
	
	.UI_Modal .radio_btn.selected span,
	.UI_Modal .radio_btn:active span {
		background: -moz-linear-gradient(270deg, #BEC5CC, #D9DDE0);
		border-top: solid 1px transparent;
		color: #6D7880;
	}
	
	.UI_Modal input#new_file,
	.UI_Modal input#new_attachment {
		width:69%;
		padding:0 5px;
	}

.UI_Modal .UI_Field.ace_editor_container {
	position:relative;
}
	.UI_Modal .UI_Field.ace_editor_container .ace_editor {
		height:100px;
		position:relative;
		float:right;
		width: 70%;
	}

		.UI_Modal .UI_Field.ace_editor_container .ace_editor .ace_gutter {
			width:15px;
		}

	.UI_Modal .UI_Field.ace_editor_container .validation-advice {
		left:135px;
		width:273px !important;
	}

	.UI_Modal .UI_Field.ace_editor_container textarea {
		width:10px;
		height:30px;
		float:none;
		padding:0;
	}
