adminmedia
build
build.py
ide-min.js
admin-min.js
flightdeck-min.js
browserid-min.js
dashboard-min.js
search-min.js
flightdeckenv
lib/temp-*
upload
sdk_versions
settings_local.py
src
.coverage
.figleaf
*.pyc
docs/_gh-pages
