adminmedia
build
flightdeckenv
flightdeck/media/jetpack
flightdeck/media/tutorial
# flightdeck/media/bespin
flightdeck/media/codemirror
flightdeck/media/api
flightdeck/jetpack/media/media
lib/temp-*
upload
sdk_versions
settings_local.py
src
.coverage
.figleaf
*.pyc
docs/_gh-pages
