[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/FlightDeck-lib.git
[submodule "lib/addon-sdk-1.0rc2"]
	path = lib/addon-sdk-1.0rc2
	url = git://github.com/mozilla/addon-sdk.git
[submodule "lib/addon-sdk-1.0"]
	path = lib/addon-sdk-1.0
	url = git://github.com/mozilla/addon-sdk.git
[submodule "lib/addon-sdk-1.1rc1"]
	path = lib/addon-sdk-1.1rc1
	url = git://github.com/mozilla/addon-sdk.git
[submodule "lib/addon-sdk-1.1"]
	path = lib/addon-sdk-1.1
	url = git://github.com/mozilla/addon-sdk.git
[submodule "lib/addon-sdk-1.2"]
	path = lib/addon-sdk-1.2
	url = git://github.com/mozilla/addon-sdk.git
