{% extends "base.html" %}


{# default django template for login page #}

{% block title %}Sign In - {% endblock %}

{% block head %}
	<link rel="stylesheet" href="/media/jetpack/css/UI.Login.css" type="text/css" media="screen" />
{% endblock %}


{% block app_menu %}{% endblock %}
{% block create_init %}{% endblock %}


{% block app_content %}
	{% if form.errors %}
        <p class="fd_error" title="Sign in error">
		{% for sender,subject in form.errors.items() %}
			{% for error in subject %}
                {% if sender != '__all__' %}
                    {{ sender|replace("username,email","address")|capfirst }}: 
                {% endif %}
                {{ error|escape }}<br/>
			{% endfor %}
		{% endfor %}
        </p>
	{% endif %}

	<div class="UI_Login">
		
		<form class="UI_Forms" id="login_form" method="post" action="{{ url('django.contrib.auth.views.login') }}" accept-charset="utf-8">
			{{ safe_csrf_token()|safe }}
			<fieldset>
				<legend>Login</legend>
				
				<div class="UI_Forms_info">
					<p>Sign in to Add-on Builder with your 
						<a title="Go to addons.mozilla.org" href="https://addons.mozilla.org">
							addons.mozilla.org
						</a> account.
					</p>
					<p>Don't have an account? 
						<a title="Create a new account" href="https://addons.mozilla.org/users/register">Get one</a>.
					</p>
				</div>
				
				<p class="UI_Field">
					{{ form.username.label_tag()|safe }}
					{# form.username #}
                    <input id="id_username" type="text" autofocus name="username" maxlength="255" />
				</p> <!-- /UI_Field -->

				<p class="UI_Field">
					{{ form.password.label_tag()|safe }}
					{{ form.password|safe }}
				</p> <!-- /UI_Field -->
			</fieldset>

			<div class="UI_Form_Actions">
				<input type="hidden" name="next" value="{{ next }}" />

				<ul>
					<li><input type="submit" name="save" value="Sign in" /></li>
				</ul>
			</div> <!-- /UI_Form_Actions -->
		</form> <!-- /UI_Forms -->
	
	</div> <!-- /UI_Login -->
{% endblock %}
