{% extends "base.html" %}


{# default django template for login page #}

{% block title %}Sign In - {% endblock %}

{% block head %}
	<link rel="stylesheet" href="/media/jetpack/css/UI.Login.css" type="text/css" media="screen" />	
	{% if waffle.switch("browserid-login") %}
		<script src="https://browserid.org/include.js" type="text/javascript"></script>
	{% endif %}	
{% endblock %}

{% block shipyardjs %}
    {{ shipyard("/media/person/js/browserid/") }}
{% endblock %}

{% block page_domready %}
    {% if waffle.switch("browserid-login") %}
        var browserid = require('browserid');
        browserid.init(fd);
    {% endif %}
{% endblock %}


{% block app_menu %}{% endblock %}
{% block create_init %}{% endblock %}


{% block app_content %}
	{% if form.errors %}
        <p class="fd_error" title="Sign in error">
		{% for sender,subject in form.errors.items() %}
			{% for error in subject %}
                {% if sender != '__all__' %}
                    {{ sender|replace("username,email","address")|capfirst }}: 
                {% endif %}
                {{ error|escape }}<br/>
			{% endfor %}
		{% endfor %}
        </p>
	{% endif %}

	<div class="UI_Login">
		<div class="UI_Heading">Sign In</div>
		
		<div class="UI_Forms_info">
				<p>
					Log in to Add-on Builder using the same email address you use to access
					<a title="Go to addons.mozilla.org" href="https://addons.mozilla.org">addons.mozilla.org</a>. 
					If you don't have an account there yet, you can create one 
					<a title="Create a new account" href="https://addons.mozilla.org/users/register">here</a>.
				</p>
				<p>
					{% if waffle.switch('browserid-login') %}
                        <div id="UI_BrowserID_Img" title="Sign in with Persona">
                            &nbsp;
                        </div>
                        {% if waffle.switch('show-old-login') %}
                        <span id="login_txt">or login using the <a id="old_auth" href="">old method</a>.</span>
                        {% endif %}
					{% endif %}
				</p>
			</div>		
		
		
		<form  id="login_form" class="UI_Forms {% if not waffle.switch('browserid-login') %}show-login{% endif %}" method="post" action="{{ url('django.contrib.auth.views.login') }}" accept-charset="utf-8">
            {{ safe_csrf_token()|safe }}
            {% if waffle.switch('show-old-login') %}
            <input type="hidden" name="next" value="{{ next }}" />
			<fieldset>
				<legend>Sign In</legend>
				
				<p class="UI_Field">
					{{ form.username.label_tag()|safe }}
					{# form.username #}
                    <input id="id_username" type="text" autofocus name="username" maxlength="255" />
				</p> <!-- /UI_Field -->

				<p class="UI_Field">
					{{ form.password.label_tag()|safe }}
					{{ form.password|safe }}
				</p> <!-- /UI_Field -->
			</fieldset>

			<div class="UI_Form_Actions">
				<ul>
					<li><input type="submit" name="save" value="Sign in" /></li>
				</ul>
			</div> <!-- /UI_Form_Actions -->
            {% endif %}
		</form> <!-- /UI_Forms -->
		<p class="really-seriously">*You must use the same email address you use to access addons.mozilla.org for both BrowserID and standard login.</p>
	</div> <!-- /UI_Login -->
{% endblock %}
