
<section id="NarrowSearch">
    <h2 class="UI_Heading">Narrow Search</h2>

    <h3 class="UI_SubHeading">Package Type</h3>
    <ul class="UI_Action_List">
        <li {% if not type  %}class="selected"{% endif %}>
            <a href="?{{ querystring('type=') }}">
                Combined
            </a>
            <strong>({{ combined_total }})</strong>
        </li>
        <li {% if type == 'addon' %}class="selected"{% endif %}>
        <a href="?{{ querystring('type=a') }}">
                Add-ons
            </a>
            <strong>({{ addon_total }})</strong>
        </li>
        <li {% if type == 'library' %}class="selected"{% endif %}>
            <a href="?{{ querystring('type=l') }}">
                Libraries
            </a>
            <strong>({{ library_total }})</strong>
        </li>
    </ul>

    {% if user.is_authenticated() %}
    <h3 class="UI_SubHeading">Owners</h3>
    <ul class="UI_Action_List">
        <li {% if not query.author %}class="selected" {% endif %}>
            <a href="?{{ querystring('author=') }}">By Everyone</a>
            <strong>({{ everyone_total }})</strong>
        </li>
        <li {% if query.author == user %}class="selected"{% endif %}>
            <a href="?{{ querystring('author=%s' % user.id) }}">By Me</a>
            <strong>({{ my_total }})</strong>
        </li>
    </ul>
    {% endif %}

    <h3 class="UI_SubHeading">Filter</h3>
    <ul class="UI_Action_List">        
        <li {% if query.featured %}class="selected"{% endif %}>            
                Featured <input name="featured" type="checkbox"  {% if query.featured %}checked="checked"{% endif %}
                value="{{ querystring('featured=1') }}" />                    
            <strong>({{ featured_total }})</strong>
        </li>
        <li {% if query.example %}class="selected"{% endif %}>            
                Example <input name="example" type="checkbox"  {% if query.example %}checked="checked"{% endif %}
                value="{{ querystring('example=1') }}" />
            <strong>({{ examples_total }})</strong>
        </li>
        
        <div class="break"></div>
        
        <li id="CopiesFilter" {% if not max_copies %}class="disabled"{% endif %}>
            <span class="slider-value">{{ query.copies }}</span>
            or more copies: 
            <div class="slider">
                <div class="knob"></div>
                <span class="range start">0</span>
                <span class="range end">{{max_copies}}</span>
            </div>
        </li>
        <li id="UsedFilter" {% if not max_times_depended %}class="disabled"{% endif %}>
            Used by 
            <span class="slider-value">{{ query.used }}</span>
            or more packages:
            <div class="slider">
                <div class="knob"></div>
                <span class="range start">0</span>
                <span class="range end">{{ max_times_depended }}</span>
            </div>
        </li>
        <li id="ActivityFilter">
            Activity: <span class="slider-value">{{ query.activity }}</span>
            <div class="slider">
                <div class="knob"></div>
                <span class="range start" data-value="0">Inactive</span>
                <span class="range end" data-value="5">Rockin'</span>
            </div>
        </li>
    </ul>
</section>
