<h2 class="UI_Heading">Narrow Search</h2>
<ul class="UI_Action_List">
    <li>
        <a href="{% url search.results %}?q={{ q }}">Combined</a>
        <strong>({{ total }})</strong>
    </li>
    <li>
        <a href="{% url search_by_type 'addon' %}?q={{ q }}">Addons</a>
        <strong>({{ addon_total }})</strong>
    </li>
    <li>
        <a href="{% url search_by_type 'library' %}?q={{ q }}">Libraries</a>
        <strong>({{ library_total }})</strong>
    </li>
</ul>
{% if user.is_authenticated %}
<ul class="UI_Action_List">
    <li>
        <a href="{% url search.me %}?q={{ q }}">By Me</a>
        <strong>({{ my_total }})</strong>
    </li>
</ul>
{% endif %}
