{% extends "base.html" %}

{% block title %}{% if q %}{{q}} - {% endif %}Search - {% endblock %}

{% block head %}
	<link rel="alternate" type="application/rss+xml" href="rss/{% if q %}?q={{q}}{% endif %}" />
	<link rel="stylesheet" type="text/css" href="/media/search/css/Search.css" />
{% endblock %}
{% block shipyardjs %}
    {{ shipyard("/media/search/js/search/") }}
{% endblock %}
{% block page_domready %}
    flightdeck.browser(fd);
    var search = require('search');
    search.init();
{% endblock %}
{% block app_body %}
    {% include "_search_form.html" %}
{% endblock %}
{% block app_sidebar %}
    {% include "_search_filter.html" %}
{% endblock %}
{% block app_content %}
    {% include "_aggregate.html" %}
{% endblock %}
