body {
    background:none;
}

#app-body {
    margin-top:0;
}

#app-sidebar {
    float:left;
    position:static;
}

    #NarrowSearch .disabled {
        color:#aaa;
    }

    #NarrowSearch .slider {
        background:-moz-linear-gradient(270deg, #8394CB, #4F64A9);
        border-radius:5px;
        border:1px solid;
        border-color:#35467E #2C3C70 #1E2A52;
        cursor:pointer;
        height:5px;
        margin:10px 0 30px;
        position:relative;
    }
        #NarrowSearch .disabled .slider {
            background:#ccc;
            border-color:#999;
            cursor:not-allowed;
        }

        #NarrowSearch .slider .knob {
            background:-moz-linear-gradient(270deg, #F4F8FC, #CED4DB);
            border-radius:3px;
            border:1px solid;
            border-color:#888 #777 #444;
            box-shadow:0 1px 0 #fff inset;
            height:16px;
            position:absolute;
            top:-7px;
            width:8px;
        }

            #NarrowSearch .disabled .slider .knob {
                background:#ddd;
                border-color:#aaa;
                box-shadow:none;
            }

        #NarrowSearch .slider .range {
            color:#aaa;
            font-size:0.9em;
            position:absolute;
            bottom:-20px;
        }
            #NarrowSearch .slider .range.start {
                left:1px;
            }
            
            #NarrowSearch .slider .range.end {
                right:1px;
            }

#search-bar {
    background: -moz-linear-gradient(270deg, #FFFFFE, #F3F5F7) repeat scroll 0 0 transparent;
    border-bottom:1px solid #fff;
    box-shadow:0 1px 0 #D0D5DB;
    margin-bottom:20px;
    padding:5px 0 4px;
    width:100%;
    z-index:3;
}

#Search {
    overflow:hidden;
    padding:5px 40px;
}
    
    #Search fieldset {
        float:left;
        width:90%;
    }
    #Search input { 
        display:block; 
        border:1px solid #ccc; 
        width:85%;
        height:20px;
        padding:3px;
    }
    
        #Search input:hover {
            border-color:#aaa;
        }
        
        #Search input:focus {
            border-color:#000;
        }
        
        #Search input:-moz-placeholder {
            color:#bbb;
        }

    #Search label span {
        float:left;
        display:block;
        padding:6px 15px 6px 5px;
    }
    
    #Search button {
        background:-moz-linear-gradient(270deg, #EBEFF2, #D4D9DF);
        border:1px solid #fff;
        border-radius:5px;
        box-shadow:0 0 1px #000;
        cursor:pointer;
        font-weight:bold;
        padding:3px 8px;
        text-shadow:0 1px 0 #fff;
    }
        
        #Search button:hover {
            background:#EBEFF2;
        }
        
        #Search button:active {
            background:-moz-linear-gradient(90deg, #EBEFF2, #D4D9DF);
        }



#SearchResults {
    float:left;
    margin-left:20px;
    width:725px;
}
    
    #SearchResults .result + h2 {
        margin-top:20px;
    }
    
    #SearchResults .result {
        border-bottom:1px solid #ccc;
        min-height:35px;
        overflow:hidden;
        padding:7px 120px 10px 0;
        position:relative;
    }
        
    
    #SearchResults .package h3 > a {        
        color:#2854BB;
        /*color:#478CDE;*/
        font-size:1.3em;
        letter-spacing: -0.5px;        
    }
    
    #SearchResults .package h3 span {
        color:#999;
    }
    
    #SearchResults .package .description {
        color:#555;
    }
    
    #SearchResults .package .UI_Actions {
        float:none;
        font-size:0.8em;
        position:absolute;
        top:0px;
        right:0px;
        opacity:0.5;
    }
        #SearchResults .package:hover .UI_Actions {
                opacity:1;
        }
    
    #SearchResults .package ul.search_meta{
        color: #666;
        margin: 6px 0 0;
        font-size: 0.8em;
        text-transform:lowercase;
        
    }   
    #SearchResults .package ul.search_meta li{
        float:left;
        color:#444;
        margin-right:10px;
    }
    
    #SearchResults .package ul.search_meta li span{
        color:#666;
    }
    
#SearchResults .UI_Sorting{    
    float:right;
    font-size:0.8em;
    margin:1px 8px 0 0;    
}
#SearchResults select{
    font-size:0.8em;
}

    
        

#SearchResults .see-more {
    margin:10px 0;
}
    #SearchResults .see-more a {
        color:#478CDE;
    }

#SearchResults .UI_Pagination {
    margin-top:40px;
}
