{% extends "_package_browser_addon.html" %}
{% block amo_info %}
<div class='UI_AMO_Info'>
    <h2>AMO Status</h2>
    <p>latest version: <span class='amo-latest_version'>{{ item.latest.amo_version_name|default:"---"}}</span></p>
    {# <p>last updated: <span class="amo-last_updated no-data">---</span></p> #}
    <p>review status: <span class="amo-review_status">{{ item.latest.get_status_name|default:"---"}}</span></p>

    <ul class="UI_AMO_Actions">
        {% if item.amo_id %}
        {% if item.latest.amo_version_name == item.latest.get_version_name and item.latest.amo_status != -2 %}
        <li class="UI_AMO_version_uploaded">upload new version</li> 
        {% else %}
        <li class="UI_AMO_upload_new_version" 
            data-url="{{ item.latest.get_upload_to_amo_url }}"><a>upload new version</a></li>
        {% endif %}
        {# <li class="UI_AMO_view_history" data-url=""><a>view history</a></li> #}
        <li class="UI_AMO_view_on_amo"><a href="" target="">view on AMO</a></li>
        {% else %}
        <li class="UI_AMO_upload_new_addon" 
            data-url="{{ item.latest.get_upload_to_amo_url }}"><a>upload to AMO</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
