{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/media/person/css/UI.Dashboard.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/jetpack/css/UI.Browser.css" type="text/css" media="screen" />
{% endblock %}

{% block shipyardjs %}
    {{ shipyard("/media/person/js/dashboard/") }}
{% endblock %}

{% block page_domready %}
    flightdeck.browser(fd);
    var dashboard = require('dashboard');
    dashboard.init(fd);
{% endblock %}

{% block flightdeck_options %},
'upload_package_modal': '{{ escape_template("_upload_package.html") }}'
{% endblock %}

{% block app_sidebar %}
  <h2 class="UI_Heading">
    {{ profile.get_name()}}
</h2>
  
  <div class="UI_ProfileInfo">
    {% include '_dashboard_info.html' %}
  </div>

  {#
  <ul class="UI_Action_List">
      <li>
        <a title="Upload Package" id="upload-package" href="#">Upload XPI</a>
      </li>
  </ul>
  #}

  <ul class="UI_Action_List">
    <li>
      <a title="Public Add-ons" href="{{ url('person_addons') }}">Public Add-ons</a> 
      <strong>(<span id="public_addons_no">{{ addons|length }}</span>)</strong>
    </li>
    <li>
      <a title="Public Libraries" href="{{ url('person_libraries') }}">Public Libraries</a> 
      <strong>(<span id="public_libs_no">{{ libraries|length }}</span>)</strong>
    </li>
  </ul>

  <ul class="UI_Action_List">
    <li>
      <a title="Private Add-ons" href="{{ url('person_disabled_addons') }}">Private Add-ons</a> 
      <strong>(<span id="private_addons_no">{{ disabled_addons|length }}</span>)</strong>
    </li>
    <li>
      <a title="Private Libraries" href="{{ url('person_disabled_libraries') }}">Private Libraries</a> 
      <strong>(<span id="private_libs_no">{{ disabled_libraries|length }}</span>)</strong>
    </li>
  </ul>
{% endblock %}
