{% extends "dashboard.html" %}

{% block title %}Dashboard - {% endblock %}

{% block app_settings %}
    amooauth_domain: '{{ settings.AMOOAUTH_DOMAIN }}',
    amooauth_protocol: '{{ settings.AMOOAUTH_PROTOCOL }}',
{% endblock %}

{% block app_content %}
	{% if packages.public_addons %}
		<h2 class="UI_Heading">Your Latest Add-ons</h2>
		<ul class="UI_Browser">
			{% for item in packages.public_addons %}
				<li class="UI_Item">
					{% include "_dashboard_addon.html" %}
				</li>
			{% endfor %}
		</ul>
		{% if packages.all_public_addons > packages.public_addons.count() %}
		<a title="See all Public Add-ons" href="{{ url('person_addons') }}">Show more...</a>
		{% endif %}
	{% endif %}
	
	{% if packages.public_libraries %}
		<h2 class="UI_Heading">Your Latest Libraries</h2>
		<ul class="UI_Browser">
			{% for item in packages.public_libraries %}
				<li class="UI_Item">
					{% include "_package_browser_library.html" %}
				</li>
			{% endfor %}
		</ul>
		{% if packages.all_public_libraries > packages.public_libraries.count() %}
		<a title="See all Public Add-ons" href="{{ url('person_libraries') }}">Show more...</a>
		{% endif %}
	{% endif %}
{% endblock %}
