{% extends "dashboard.html" %}

{% block title %}Your {% if disabled %}Disabled{% else %}Latest{% endif %} Add-ons - {% endblock %}

{% block head %}
	<link rel="stylesheet" href="/media/jetpack/css/UI.Browser.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/person/css/UI.Dashboard.css" type="text/css" media="screen" />
	<script src="/media/person/js/Dashboard.js"></script>
	<script src="/media/jetpack/js/FlightDeck.Browser.js"></script>
{% endblock %}

{% block app_settings %}
    amooauth_domain: '{{ settings.AMOOAUTH_DOMAIN }}',
    amooauth_protocol: '{{ settings.AMOOAUTH_PROTOCOL }}',
{% endblock %}

{% block app_content %}
	<h2 class="UI_Heading">Your {% if disabled %}Disabled{% else %}Latest{% endif %} Add-ons</h2>
	<ul class="UI_Browser">
		{% for item in pager.object_list %}
			<li class="UI_Item">
				{% include "_dashboard_addon.html" %}
			</li>
		{% endfor %}
        {% if pager.has_other_pages %}
            <ul class="UI_Pagination">
                {% if pager.has_previous %}
                    <li class="UI_Pagin_Action prev">
                        <span></span>
                        <a title="" href="{% url person_addons_page pager.previous_page_number %}">
                            Previous
                        </a>
                    </li>
                {% endif %}
                <li class='current'>{{ pager.number }}</li>
                {% if pager.has_next %}
                    <li class="UI_Pagin_Action next">
                        <a title="" href="{% url person_addons_page pager.next_page_number %}">Next</a>
                        <span></span>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
	</ul>
{% endblock %}
