<form class="UI_Forms" id="package-info_form" method="post" accept-charset="utf-8">
	<h3>Edit {full_name} info</h3>
	<fieldset>
		<p class="UI_Field">
			<label for="full_name">{{ revision.package.get_type_name|capfirst }} Name</label>
            <input type="text" name="full_name" id="full_name" class="validate-alphanum_plus_space" value="{full_name}"/>
		</p>
		<p class="UI_Field">
			<label for="package_description">{{ revision.package.get_type_name|capfirst }} description</label>
			<textarea id="package_description" name="package_description" rows="8" cols="40">{{ revision.package.description }}</textarea>
		</p>
		<ul class="UI_Actions">
			{% include "_package_privacy_toggle.html" %}
		</ul>
	</fieldset>
	<div class="UI_Modal_Actions">
		<ul>
            {# id="savenow" is used to save data after edit #}
			<li><input type="submit" id='savenow' value="Save" class="submitModal defaultCallback"/></li>
			<li><input type="reset" value="Cancel" class="closeModal"/></li>
		</ul>
	</div>
</form>
