{% load jetpack_extras %}
<div id='display-package-revisions'>
	<h3>{{ revision.full_name}} - Revisions</h3>
	<div class="UI_Modal_Section">
		<ul class="UI_Revisions">
			{% for revision in revisions %}
            <li{% ifequal revision.revision_number revision_number %} class="current"{% endifequal %}>
					<em class="date">{{ revision.created_at|date:"Y-m-d" }}</em>
					<a href="{{ revision.get_absolute_url }}">{{ revision.get_version_name }}</a>
                    {% if revision.commit_message %}<span class='commit_message'>{{ revision.commit_message }}</span>{% endif %}
                    {% if revision.message %}<span class='message'>{{ revision.message }}</span>{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="UI_Modal_Actions">
		<ul><li><input type="reset" value="Close" class="closeModal"/></li></ul>
	</div>
</div>
