<li class="UI_Edit_Version {% if item.is_library and not user == item.author %}single{% endif %}">
<a title="View {{ item.full_name }}" href="{{ item.get_latest_url }}">
    {% if user == item.author %}Edit{% else %}View{% endif %}</a>
</li>

{% if user == item.author %}
	{% if not item.active %}
		{# Just in case there will be an option to display deleted packages #}
		<li class="UI_Activate">
			<a title="Let the world use it" href="{{ item.get_activate_url }}">
				Make Public
			</a>
		</li>
	{% else %}
		<li class="UI_Disable">
			<a title="My preciousss!" href="{{ item.get_disable_url }}">
				Make Private
			</a>
		</li>
	{% endif %}
    {% if user == item.author %}
        <li class="UI_Delete">
            <a title="Once and for all" href="{{ item.get_delete_url }}">
                Delete
            </a>
        </li>
    {% endif %}
{% endif %}
