{% load base_helpers %}
<h3>
    {{ item.full_name }}

    {% ifnotequal user item.author  %}
    <span class="author">by
        <a title="" href="{{ item.get_author_profile_url }}">{{ item.author.get_profile }}</a>
    </span>
    {% endifnotequal %}
    <span class="version">
        version <span class="version-name">{{ item.version_name }}</span>
    </span>
</h3>
<p>{{ item.description }}</p>

<ul class="UI_Actions">
	<li class="UI_Try_in_Browser XPI_test">
    <a title="Test Add-on" href="{{ item.latest.get_test_xpi_url }}" 
        data-jetpackid="{{ item.get_jid }}" data-hashtag="{% hashtag %}">Test</a>
	</li>
	{% include "_package_edit_view_source_bar.html" %}
</ul>
<div class="UI_Icon {{ item.type }}">
	<!-- <ul class="UI_Ratings_Display">
		<li><a title="" href="#"></a></li>
	</ul> -->
</div>
