<li class="UI_Edit_Version {% if item.is_library and not user == item.author %}single{% endif %}">
	<a title="View {{ item.full_name }}" href="{{ item.get_latest_url }}">Source</a>
</li>

{% if user == item.author %}
	{% if not item.active %}
		{# Just in case there will be an option to display deleted packages #}
		<li class="UI_Activate">
			<a title="Switch on" href="{{ item.get_activate_url }}">
				Activate
			</a>
		</li>
	{% else %}
		<li class="UI_Disable">
			<a title="Switch off" href="{{ item.get_disable_url }}">
				Disable
			</a>
		</li>
	{% endif %}
{% endif %}
