<h3>
	{{ item.full_name }}
    {% if user != item.author %}
    <span class="author">by
        <a title="" href="{{ item.get_author_profile_url()}}">{{ item.author.get_profile()}}</a>
    </span>
    {% endif %}
    <span class="version">
        version <span class="version-name">{{ item.version_name }}</span>
    </span>
</h3>
<p data-text="{{item.description}}"
       class="description {{ 'truncate' if item.description|length > 170  else ''}}">
        {{ item.description|truncate(170) }}</p>

<ul class="UI_Actions">
	{% include "_package_edit_view_source_bar.html" %}
</ul>
<div class="UI_Icon {{ item.type }}">
	<!-- <ul class="UI_Ratings_Display">
		<li><a title="" href="#"></a></li>
	</ul> -->
</div>
