<li class="UI_Edit_Version {% if item.is_library and not user == item.author %}single{% endif %}">
<a title="View {{ item.full_name }}" href="{{ item.get_latest_url }}">
    {% if user == item.author %}Edit{% else %}View{% endif %}</a>
</li>

{% if user == item.author %}
        <li class="UI_Delete">
            <a title="Once and for all" href="{{ item.get_delete_url }}">
                Delete
            </a>
        </li>
    </ul>
    <ul class="UI_Actions">
        {% include "_package_privacy_toggle.html" %}
{% endif %}
