{% extends "edit.html" %}


{% block modules_sidebar %}
	{% with module = revision.get_main_module()  %}		
		{% include "_sidebar_revision_module.html" %}
	{% endwith %}
	{% for module in modules %}{% if revision.module_main != module.filename %}		
		{% include "_sidebar_revision_module.html" %}
	{% endif %}{% endfor %}
{% endblock %}


{% block core_library %}
  {% if revision.sdk %}
  <li class="UI_File_Normal Core_library"
	  id="core_library_lib"
	  title="{{ revision.get_sdk_revision().package.full_name }}"
      data-id-number="{{ revision.get_sdk_revision().package.name }}">
      <a class="expand" href="#"></a>
	  <div class="holder">
		<a href="{{ revision.get_sdk_revision().get_absolute_url() }}" target="_blank">
		  <span class="label">{{ revision.get_sdk_revision().package.full_name }}</span>
		</a>
		<span class="icon"></span>
		<select id="jetpack_core_sdk_version">
			{% for s in sdk_list %}
			<option value="{{ s.id }}" {% if s.is_deprecated() %}disabled{% endif %}
				{% if revision.sdk.id == s.id %} selected{% endif %}>
				{{ s.version }}
			  </option>
			{% endfor %}
		</select>
	  </div>
  </li>
  {% endif %}
{% endblock %}


{% block app_content_menu_items %}
	<li id="try_in_browser" title="Test" class="UI_Editor_Menu_Button Icon_try XPI_test">
    <a data-jetpackid="{{ revision.package.get_jid() }}" href="{{ revision.get_test_xpi_url() }}"><span></span></a>
	</li>
	<li id="download" title="Download" class="UI_Editor_Menu_Button Icon_download">
    <a href="{{ revision.get_download_xpi_url() }}"><span></span></a>
	</li>
	<li id="zip" title="Download Source" class="UI_Editor_Menu_Button Icon_zip">
    <a href="{{ revision.get_prepare_zip_url() }}"><span></span></a>
	</li>
    {#
	<li id="upload_to_amo" title="Upload" class="UI_Editor_Menu_Button Icon_upload">
    <a target="_}ew" href="{{ revision.get_upload_to_amo_url() }}"><span></span></a>
	</li>
    #}
	<li class="UI_Editor_Menu_Separator"></li>
{% endblock %}

{% block app_content_menu_error_console %}
<li id="error-console" title="Error Console" class="UI_Editor_Menu_Button Icon_logs">
  <a href="#"><span></span></a>
</li>
{% endblock %}


{% block editor_wrapper %}
	{% with module = revision.get_main_module() %}
		{% include "_module_code_textarea.html" %}
	{% endwith %}
	{% for module in revision.modules.all %}{% if module.filename != revision.module_main %}
		{% include "_module_code_textarea.html" %}
	{% endif %}{% endfor %}
	{% for attachment in revision.attachments.all %}
		{% include "_attachment_code_textarea.html" %}
	{% endfor %}
{% endblock %}
