{% extends "base_fluid_width.html" %}
{% load base_helpers %}

{% block title %}Edit {{ revision }} - {% endblock %}

{% block head %}
	<link rel="stylesheet" href="/media/jetpack/css/UI.Editor.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/jetpack/css/FlightDeck.Autocomplete.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/jetpack/css/tree.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/jetpack/css/collapse.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/lib/bespin/BespinEmbedded.css" type="text/css" media="screen" />
	<script src="/media/jetpack/js/FlightDeck.Editor.js"></script>
	<script src="/media/lib/ace/ace.js"></script>
	<script src="/media/jetpack/js/FDEditor.js"></script>
	<script src="/media/jetpack/js/FDEditor.Ace.js"></script>
	<script src="/media/lib/meio/Meio.Autocomplete.HTML-1.3.js"></script>
	<script src="/media/base/js/FlightDeck.Autocomplete.js"></script>
	<script src="/media/jetpack/js/Package.js"></script>
	<script src="/media/lib/sendFile.js"></script>
	<script src="/media/lib/tree.js"></script>
	<script src="/media/jetpack/js/FileTree.js"></script>
	
{% endblock %}


{# csrf_token for JS #}
{% block head_jstop %}var csrfmiddlewaretoken = '{{ csrf_token }}';{% endblock %}

{# switch off default menu bar #}
{% block app_menu %}{% endblock %}

{# initialize package view #}
{% block app_domready %}
  fd.item = new Package.Edit({
    {% include "js/_package_initiate.js" %},
    {% include "js/_edit_package_initiate.js" %}
  });
{% endblock %}


{# get package_info_form_template #}
{% block app_settings %}
	edit_package_info_template: '{% escape_template "_edit_package_info.html" %}',
	library_autocomplete_url: '{% url jp_library_autocomplete %}',
	revisions_list_html_url: '{% url jp_revisions_list_html revision.package.id_number %}',
{% endblock %}


{% block create_init %}{% comment %}
	create.init(
		['create_addon'],
		['addon'],
		'app-body'
	);
{% endcomment %}{% endblock %}

{# switch off the footer #}
{% block footer %}{% endblock %}

{% block app_sidebar %}<form id="app-sidebar-form">
	<section id="package-info" class="UI_Sidebar_Item">
		{% include "_package_info.html" %}
	</section>
	<div class="trees-container">
		<section id="modules">
			<ul id="LibTree" class="tree collapse">
				
			</ul>
		</section>
		<section id="attachments">
			<ul id="DataTree" class="tree collapse">
				
			</ul>
		</section>
		<section id="libraries">
			<ul id="PluginsTree" class="tree collapse">
				{% block core_library %}{% endblock %}
			</ul>
		</section>
	</div>
</form>{% endblock %}

{% block app_content %}
	<div id="editor-menu-wrapper">
		<ul class="UI_Editor_Menu">
			{% block app_content_menu_items %}{% endblock %}
			<li class="UI_Editor_Menu_Button Icon_save">
				<a id="package-save" title="" href="#">Commit
					<span class="UI_Editor_Icon"></span>
				</a>
			</li>
			{% if revision.package.public_permission != 2 %}
				<li class="UI_Editor_Menu_Button Icon_copy">
					<a id="package-copy" title="" href="#">Copy
						<span class="UI_Editor_Icon"></span>
					</a>
				</li>
			{% endif %}
			<li class="UI_Editor_Menu_Button Icon_logs">
				<a id="error-console" title="" href="#">
					Error Console
					<span class="UI_Editor_Icon"></span>
				</a>
			</li>
			{% include "_editor_app_menu_items.html" %}
		</ul>
	</div> <!-- /editor-menu-wrapper -->
	<div id='editor-wrapper'>
		{# block editor_wrapper #}
		{# endblock #}
	</div> <!-- /editor-wrapper -->
{% endblock %}
