{% extends "package_browser.html" %}

{% block title %}{{ author.get_profile()}} - Recent Libraries - {% endblock %}

{% block app_sidebar %}
{% if profile %}
	<h2 class="UI_Heading">{{ profile.get_name()}}</h2>
	
	<div class="UI_ProfileInfo">
		{% include "_profile_info.html" %}
	</div>

	<ul class="UI_Action_List">
		{% if packages.all_public_addons %}
			<li>
            <a title="Add-ons" href="{{ profile.get_addons_url() }}">Add-ons</a> 
				<strong>({{ packages.all_public_addons }})</strong>
			</li>
		{% endif %}
		{% if packages.all_public_libraries %}
			<li>
            <a title="Libraries" href="{{ profile.get_libraries_url() }}">Libraries</a> 
				<strong>({{ packages.all_public_libraries }})</strong>
			</li>
		{% endif %}
	</ul>
{% endif %}
{% endblock %}

{% block page_content %}
	<h2 class="UI_Heading">
		<a href='{{ url('person_public_profile', author.username ) }}'>{{ author.get_profile()}}</a>:
		Libraries {% if other_packages_number %}
			(See <a href="{{ url('jp_browser_user_addons', author.username ) }}">Add-ons</a>)
		{% endif %}
	</h2>

	<ul class="UI_Browser">
		{% include "_package_browser_libraries_list.html" %}
	</ul>

	{% if pager.has_other_pages %}
		<ul class="UI_Pagination">
			{% if pager.has_previous %}
				<li class="UI_Pagin_Action prev">
					<span></span>
					<a title="" href="{{ url('jp_browser_user_libraries_page', author.username, pager.previous_page_number() ) }}">
						Previous
					</a>
				</li>
			{% endif %}
			<li class='current'>{{ pager.number }}</li>
			{% if pager.has_next %}
				<li class="UI_Pagin_Action next">
					<a title="" href="{{ url('jp_browser_user_libraries_page', author.username, pager.next_page_number() ) }}">Next</a>
					<span></span>
				</li>
			{% endif %}
		</ul>
	{% endif %}

{% endblock %}
