{% extends "base_fluid_width.html" %}

{% block title %}{{ revision }} - {% endblock %}

{% block head %}
	<link rel="stylesheet" href="/media/jetpack/css/UI.Editor.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/jetpack/css/FlightDeck.Autocomplete.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/jetpack/css/tree.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/jetpack/css/collapse.css" type="text/css" media="screen" />
	<script src="/media/lib/ace/ace.js"></script>
	<script src="/media/lib/tree.js"></script>

    {% if settings.DEBUG %}
    <script src="/media/lib/shipyard/scripts/require.js?1" data-main="/media/jetpack/js/editor/"></script>
    {% else %}
    <script src="/media/jetpack/js/editor-min.js"></script>
    {% endif %}

	<script src="/media/lib/ace/mode-javascript.js"></script>
	<script src="/media/lib/ace/mode-css.js"></script>
	<script src="/media/lib/ace/mode-html.js"></script>
	<script src="/media/lib/meio/Meio.Autocomplete.HTML-1.3.js"></script>
	<script src="/media/base/js/FlightDeck.Autocomplete.js"></script>
	<script src="/media/jetpack/js/Package.js"></script>
	<script src="/media/lib/FloatingTips.js"></script>

    <script type="text/javascript">
        define('editor/settings', [], function(require, exports, module) {
            module.exports = {
                {% include "js/_package_initiate.js" %},
                {% include "js/_view_package_initiate.js" %}
            };
        });
    </script>

    {% if settings.DEBUG %}
    <script src="/media/lib/shipyard/scripts/require.js" data-main="/media/jetpack/js/editor/"></script>
    {% else %}
    <script src="/media/jetpack/js/editor-min.js"></script>
    {% endif %}
{% endblock %}

{# switch off default menu bar #}
{% block app_menu %}{% endblock %}

{# initialize package view #}
{% block app_domready %}
    
    var editor = require('editor');
    fd.item = editor.controller;

    editor.sidebar.buildTree();

{% endblock %}

{# switch off the footer #}
{% block footer %}{% endblock %}


{% block create_init %}{% comment %}
	create.init(
		['create_addon'],
		['addon'],
		'app-body'
	);
{% endcomment %}{% endblock %}

{% block app_sidebar %}
<div class="scroll-container">
	{% include "_package_info.html" %}
	<div class="trees-container">
		<section id="modules">
			<ul id="LibTree" class="tree collapse">
				
			</ul>
		</section>
		<section id="attachments">
			<ul id="DataTree" class="tree collapse">
				
			</ul>
		</section>
		{% if libraries or revision.package.is_addon %}
		<section id="libraries">
			<ul id="PluginsTree" class="tree collapse">
				{% block core_library %}{% endblock %}
			</ul>
		</section>
	    {% endif %}
	</div>
</div>
{% endblock %}


{% block app_content %}
	<div id="editor-menu-wrapper">
		<ul class="UI_Editor_Menu">
			{% block app_content_menu_items %}{% endblock %}
			{% if revision.package.public_permission != 2 and user.is_authenticated %}
				<li id="package-copy" title="Copy" class="UI_Editor_Menu_Button Icon_copy">
                <a href="#"><span></span></a>
				</li>
			{% endif %}
			{% include "_editor_app_menu_items.html" %}
		</ul>
	</div> <!-- /editor-menu-wrapper -->
	<div id="editor-tabs">
	</div>
	<div id="editor-wrapper">
	</div>
{% endblock %}
