{% extends "base_fluid_width.html" %}

{% block title %}{{ revision }} - {% endblock %}

{% block head_prejs %}
	<link id="bespin_base" href="/media/lib/bespin"/>
	<script src="/media/lib/bespin/BespinEmbedded.js"></script>
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="/media/jetpack/css/UI.Editor.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/jetpack/css/FlightDeck.Autocomplete.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/jetpack/css/tree.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/jetpack/css/collapse.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/lib/bespin/BespinEmbedded.css" type="text/css" media="screen" />
	<script src="/media/jetpack/js/FlightDeck.Editor.js"></script>
	<script src="/media/jetpack/js/Editor.js"></script>
	<script src="/media/jetpack/js/Bespin.js"></script>
	<script src="/media/lib/meio/Meio.Autocomplete.HTML-1.3.js"></script>
	<script src="/media/base/js/FlightDeck.Autocomplete.js"></script>
	<script src="/media/jetpack/js/FlightDeck.Bespin.js"></script>
	<script src="/media/jetpack/js/Package.js"></script>
	<script src="/media/lib/sendFile.js"></script>
	<script src="/media/lib/tree.js"></script>
	<script src="/media/jetpack/js/fd-tree.js"></script>
{% endblock %}

{# switch off default menu bar #}
{% block app_menu %}{% endblock %}

{# initialize package view #}
{% block app_domready %}
  fd.item = new Package.View({
    //{% include "js/_package_initiate.js" %},
    {% include "js/_view_package_initiate.js" %}
  }); // Package.View
{% endblock %}

{# switch off the footer #}
{% block footer %}{% endblock %}

{% block app_settings %}
	revisions_list_html_url: '{% url jp_revisions_list_html revision.package.id_number %}',
{% endblock %}

{% block create_init %}{% comment %}
	create.init(
		['create_addon'],
		['addon'],
		'app-body'
	);
{% endcomment %}{% endblock %}

{% block app_sidebar %}
	<section id="package-info" class="UI_Sidebar_Item">
		{% include "_package_info.html" %}
	</section>
	<section id="modules">
		<ul id="LibTree" class="tree collapse">
			
		</ul>
	</section>
	{% with revision.attachments.all as attachments %}{% if attachments %}
	<section id="attachments">
		<ul id="DataTree" class="tree collapse">
			
		</ul>
	</section>
	{% endif %}{% endwith %}
	{% if libraries or revision.package.is_addon %}
	<section id="libraries">
		<ul id="PluginsTree" class="tree collapse">
			{% block core_library %}{% endblock %}
		</ul>
	</section>
	{% endif %}
{% endblock %}


{% block app_content %}
	<div id="editor-menu-wrapper">
		<ul class="UI_Editor_Menu">
			{% block app_content_menu_items %}{% endblock %}
			{% if revision.package.public_permission != 2 %}
				<li class="UI_Editor_Menu_Button Icon_copy">
					<a id="package-copy" title="" href="#">Copy
						<span class="UI_Editor_Icon"></span>
					</a>
				</li>
			{% endif %}
			{% include "_editor_app_menu_items.html" %}
		</ul>
	</div> <!-- /editor-menu-wrapper -->
	<div id="editor-wrapper">
		{% block editor_wrapper %}{% endblock %}
	</div>
{% endblock %}
