<li class="UI_Edit_Version {% if item.is_library and not user == item.author %}single{% endif %}">
	<a title="View {{ item.full_name }}" href="{{ item.get_latest_url }}">View Source</a>
</li>

{% if user == item.author %}
	<li class="UI_Edit_Version">
		<a title="Edit" href="{{ item.get_edit_latest_url }}">
			Edit
		</a>
	</li>
	{% if package.deleted %}
		{# Just in case there will be an option to display deleted packages #}
		<li class="UI_Undelete">
			<a title="Switch on" href="{{ item.get_activate_url }}">
				Activate
			</a>
		</li>
	{% else %}
		<li class="UI_Disable">
			<a title="Switch off" href="{{ item.get_disable_url }}">
				Disable
			</a>
		</li>
	{% endif %}
	{% comment %}
	<li class="UI_Edit_Version">
		<a title="Edit {{ item.version }}" href="{{ item.version.get_edit_url }}">
			Edit {% if item.latest.version_name != item.version_name %}({{ item.version_name }}){% endif %}
		</a>
	</li>
	{% if item.latest.version_name != item.version_name %}
		<li class="UI_Edit_Version">
			<a title="Edit {{ item.latest }}" href="{{ item.latest.get_edit_url }}">
				Edit (rev. {{ item.latest.revision_number }})
			</a>
		</li>
	{% endif %}
	{% endcomment %}
{% endif %}
